* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .wallpaper{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    transform: translate(-50%,-50%); 
} 
    */


.selected-wallpaper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  pointer-events: none;
}


.top-section {
  /* background-color: rebeccapurple; */
  margin: 50px 100px;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 200px;
}
.top-section h2 {
  line-height: 50px;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}
.top-section p {
  text-align: right;
  right: -50px;
  margin-bottom: 40px;
}
.top-section button{
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color:khaki;
}

.wrapper {
  width: 50%;
  height: 50vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px black;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgba(220, 20, 60, 0.626);
}

.inner-nav {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  background-color: rgba(220, 20, 60, 0.735);
  border: 2px solid rgba(220, 20, 60, 0.626);
  border-radius: 9px;
  font-size: 18px;
  padding: 9px 14px;
  color: black;
  transition: all 0.25s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(245, 93, 38, 0.699);
}

/* ACTIVE MODE */
.btn.active {
  color: azure;
  background-color: crimson;
  box-shadow: 0 0 10px rgba(220, 20, 60, 0.8);
  transform: scale(1.05);
}

.timer {
  text-align: center;
  margin-top: 25px;
  width: 40%;
  position: relative;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timer span {
  font-size: 82px;
}
.controls {
  margin-top: 25px;
  position: relative;
  top: 6%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.controls button {
  font-size: 20px;
  background: none;
  border: 2px solid rgba(220, 20, 60, 0.626);
  border-radius: 5px;
  margin: 0 28px;
  padding: 2px 6px;
  background-color: rgba(220, 20, 60, 0.626);
}

.controls button:hover {
  background-color: orange;
  cursor: pointer;
}
